<div class="background-secondary">
  <section class="menuitemslist container mx-auto py-8">
    <div class="top-section my-10">
      <h1 class="text-2xl font-bold">All Pizzas</h1>
      <button
        class="btn-primary py-1 px-6 rounded-full flex items-center font-bold"
      >
        <a href="/admin/additem" class="ml-4 text-white">Add new item</a>
      </button>
    </div>

    <div id="OrderItems" class="grid grid-cols-4 gap-y-12 gap-x-16">
      <% pizzas.forEach((pizza) => { %>
      <form action="/admin/edititem" method="POST">
        <input type="hidden" name="pizza" value="<%= pizza.name %>" />
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="" />
          <div class="text-center">
            <h2 class="mb-4 text-lg"><%=pizza.name%></h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              <%=pizza.category%>
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg"> ₹ <%= pizza.price %> </span>
              <button
                data-pizza="<%= JSON.stringify(pizza) %>"
                class="btn-primary text-white py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span class="ml-4">Edit item</span>
              </button>
            </div>
          </div>
        </div>
      </form>
      <% }); %>
    </div>
  </section>
</div>
