<section class="cart py-16">
  <% if(session.cart?.deleted===false) { %>
  <div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/img/cart-black.png" alt="" />
      <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
    </div>
    <div class="pizza-list">
      <form action="/emptycart" method="post">
        <button
          class="btn-danger px-6 py-2 rounded-full text-white font-bold my-6"
          type="submit"
          onClick="return confirm('Are you sure to delete?')"
        >
          Empty Cart
        </button>
      </form>
      <% for(let pizza of Object.values(session.cart.cartItems.items)) { %>
      <div class="my-8 grid grid-cols-4 gap-4 flex justify-center items-center">
        <img class="w-24" src="/img/<%= pizza.image %>" alt="" />
        <div class="flex w-50 ml-4 text-lg">
          <h1><%= pizza.name %></h1>
        </div>
        <div class="itemQuantity grid grid-cols-3 ml-4">
          <form action="/cart/minusitem" method="post">
            <input type="hidden" name="pizza" value="<%= pizza._id %>" />
            <input type="hidden" name="price" value="<%= pizza.price %>" />
            <button
              type="submit"
              class="circle-icon las la-minus-circle"
            ></button>
          </form>
          <div><%= pizza.qty %> Pcs</div>
          <form action="/cart/plusitem" method="post">
            <input type="hidden" name="pizza" value="<%= pizza._id %>" />
            <input type="hidden" name="price" value="<%= pizza.price %>" />
            <button
              type="submit"
              class="circle-icon las la-plus-circle"
            ></button>
          </form>
        </div>
        <% if (pizza.discount === 0) { %>
        <span class="font-bold text-lg">₹ <%= pizza.price * pizza.qty %></span>
        <% } else{ %>
        <span class="font-bold text-lg"
          >₹ <%= (pizza.price - ((pizza.price*pizza.discount)/100))*pizza.qty
          %></span
        >
        <% } %>
      </div>
      <% } %>
      <!-- <% for(let pizza of Object.values(session.cart.cartItems.items)) { %>
      <div class="flex items-center my-8 justify-around">
        <img class="w-24" src="/img/<%= pizza.image %>" alt="" />
        <div class="flex w-50 ml-4 text-lg">
          <h1><%= pizza.name %></h1>
        </div>
        <div class="itemQuantity flex flex-row ml-4 justify-around w-50">
          <form action="/cart/minusitem" method="post">
            <input type="hidden" name="pizza" value="<%= pizza._id %>" />
            <input type="hidden" name="price" value="<%= pizza.price %>" />
            <button
              type="submit"
              class="circle-icon las la-minus-circle"
            ></button>
          </form>
          <div><%= pizza.qty %> Pcs</div>
          <form action="/cart/plusitem" method="post">
            <input type="hidden" name="pizza" value="<%= pizza._id %>" />
            <input type="hidden" name="price" value="<%= pizza.price %>" />
            <button
              type="submit"
              class="circle-icon las la-plus-circle"
            ></button>
          </form>
        </div>
        <span class="font-bold text-lg">₹ <%= pizza.price * pizza.qty %></span>
      </div>
      <% } %> -->
      <hr />
      <div class="text-right py-4">
        <div>
          <span class="text-lg font-bold">Total Amount:</span>
          <span class="amount text-2xl font-bold ml-2"
            >₹<%= session.cart.cartItems.totalPrice %></span
          >
        </div>
        <% if(user) { %>
        <div>
          <form action="/coupon/apply" method="post" class="mt-12">
            <input
              name="code"
              class="border border-gray-400 p-2 w-1/2 mb-4"
              type="text"
              value="<%= session.couponcode? session.couponcode:'' %>"
              placeholder="coupon code..."
            />
            <button
              class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6 mb-6 w-1/2"
              type="submit"
            >
              Apply Coupon
            </button>
          </form>
          <% if(session.coupondiscount) { %>
          <div>
            <span class="text-lg font-bold">Total Amount:</span>
            <s
              ><span class="amount text-2xl font-bold ml-2"
                >₹<%= session.cart.cartItems.totalPrice %></span
              ></s
            >
            <span class="amount text-2xl font-bold ml-2"
              >₹<%= session.cart.cartItems.totalPrice -
              (session.cart.cartItems.totalPrice*session.coupondiscount)/100
              %></span
            >
          </div>
          <div>
            <span class="text-lg font-bold">Savings:</span>
            <span class="amount text-2xl font-bold ml-2"
              >₹ <%=
              (session.cart.cartItems.totalPrice*session.coupondiscount)/100
              %></span
            >
          </div>
          <% } %>
          <form action="/orders" method="post" class="mt-12" id="payment-form">
            <% if(messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
            <br />
            <% } %>
            <div class="relative w-1/2 ml-auto mb-4">
              <select
                id="paymentType"
                name="paymentType"
                class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
              >
                <option value="cod">Cash on delivery</option>
                <option value="card">Pay with card</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>

            <input
              name="phone"
              value="<%= user.number %>"
              class="border border-gray-400 p-2 w-1/2 mb-4"
              type="number"
              placeholder="Phone number"
            />
            <input
              name="address"
              value="<%= user.address %>"
              class="border border-gray-400 p-2 w-1/2 mb-6"
              type="text"
              placeholder="Address"
            />
            <div>
              <div id="card-element"></div>
              <button
                class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6"
                type="submit"
              >
                Place Order
              </button>
            </div>
          </form>
        </div>
        <% } else { %>
        <a
          href="/login"
          class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6"
          >Login to continue</a
        >
        <% } %>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="empty-cart py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
      <p class="text-gray-500 text-lg mb-12">
        You probably haven't ordered a pizza yet. <br />
        To order a pizza, go to the main page.
      </p>
      <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart" />
      <a
        href="/"
        class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12"
        >Go back</a
      >
    </div>
  </div>
  <% } %>
</section>
